.file-input-container {
    position: relative;
    cursor: pointer;

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        scale: 0;
    }
}