.post .actions {
    display: flex;
    border-top: 1px solid var(--light-color);
    padding-block: var(--small-gap);
    gap: var(--small-gap);

    .action-button {
        display: flex;
        flex-grow: 1;
        font-size: var(--medium-font-size);
        align-items: center;
        gap: var(--small-gap);
        justify-content: center;
        padding-block: var(--medium-gap);
        background-color: transparent;
        font-weight: var(--bold);
        border-radius: var(--medium-border-radius);
        border: none;
        color: var(--light-color);
        transition: all var(--transition);

        &:hover {
            background-color: var(--background-color);
        }

        svg {
            width: var(--medium-font-size);
        }

        .reaction {

            &.LIKE {
                color: var(--primary-color);
            }

            &.LOVE {
                color: var(--color-love);
            }

            &.FUNNY {
                color: var(--color-funny);
            }

            &.INTERESTING {
                color: var(--color-interesting);
            }

            &.FUNNY {
                color: var(--color-funny);
            }

            &.SURPRISED {
                color: var(--color-surprised);
            }

            &.SAD {
                color: var(--color-sad);
            }

            &.ANGRY {
                color: var(--color-angry);
            }
        }
    }

    .action-button-container {
        position: relative;
        display: flex;

        .reaction-options {
            display: flex;
            position: absolute;
            top: 0;
            transform: translateY(-100%);
            gap: var(--small-gap);
            background-color: var(--near-background-color);
            box-shadow: var(--box-shadow);
            padding: var(--small-gap) var(--medium-gap);
            border-radius: 999px;
            transition: all var(--transition);
            transform-origin: left;

            &.hide {
                opacity: 0;
                pointer-events: none;
                transform: translateY(-100%) scale(0);
            }

            .reaction-option {
                width: calc(1.3 * var(--large-font-size));
                height: calc(1.3 * var(--large-font-size));
                background-color: transparent;
                border: none;
            }
        }
    }
}

.rtl.reaction-options {
    transform-origin: right !important;
}