.post {
    background-color: var(--near-background-color);
    border-radius: var(--medium-border-radius);
    padding: var(--large-gap) var(--large-gap) 0 var(--large-gap);
    box-shadow: var(--box-shadow);
}