.user-list,
.user-list-placeholder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--medium-gap);
    padding-block: var(--medium-gap);

    @media (max-width: 720px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.no-user {
    padding-block: var(--extra-large-gap);
    text-align: center;
    color: var(--light-gray);
    font-size: var(--small-font-size);

    h2 {
        font-size: var(--medium-font-size);
    }
}