.user-profile-header-placeholder,
.user-profile-header {

    background-color: var(--near-background-color);
    background: linear-gradient(45deg, var(--near-background-color) 80%, var(--primary-color-opacity) 90%);

    .cover-photo-container-placeholder,
    .cover-photo-container {
        position: relative;

        .image-placeholder,
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            border-bottom-left-radius: var(--large-border-radius);
            border-bottom-right-radius: var(--large-border-radius);
        }

        .button-placeholder,
        .cover-photo-input {
            position: absolute;
            bottom: var(--large-gap);
            right: var(--large-gap);
            z-index: 1;
        }
    }

    .image-and-info-wrapper-placeholder,
    .image-and-info-wrapper {
        position: relative;
        top: -50px;

        .profile-image-container-placeholder,
        .profile-image-container {
            position: relative;

            .image-placeholder,
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                padding: var(--small-gap);
                background-color: var(--near-background-color);
            }

            .profile-image-input {
                position: absolute;
                bottom: 10%;
                right: 10%;
                background-color: var(--primary-color);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;

                svg {
                    width: var(--medium-font-size);
                    height: var(--medium-font-size);
                }
            }


        }

        .info-placeholder,
        .info {
            padding: var(--large-gap);

            .full-name {
                font-size: var(--extra-large-font-size);
                font-weight: var(--bold);
            }
        }
    }



}

.rtl {
    .profile-image-input {
        right: unset !important;
        left: 10% !important;
    }

    .cover-photo-input {
        right: unset !important;
        left: var(--large-gap) !important;
    }
}

.friends-placeholder,
.full-name-placeholder,
.inner-image-placeholder,
.image-placeholder {
    background-color: var(--background-color);
}

.button-placeholder {
    height: var(--extra-large-font-size);
    width: 150px;
    background-color: var(--near-background-color);
    border-radius: 999px;

    &.second {
        background-color: var(--background-color);
        width: 100px;
    }
}

.inner-image-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.full-name-placeholder {
    width: 200px;
    height: var(--extra-large-font-size);
    border-radius: 999px;
}

.friends-placeholder {
    width: 100px;
    height: var(--medium-font-size);
    border-radius: 999px;
}