.comment {
    display: flex;
    gap: var(--medium-gap);

    img {
        border-radius: 50%;
    }

    .info {
        background-color: var(--background-color);
        padding: var(--medium-gap);
        border-radius: var(--medium-border-radius);
        display: flex;
        flex-direction: column;

    }
}